

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Dzire App Panel</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid" />
    <meta name="description" content="404 Error Pages - Responsive Admin HTML Template">
    <meta name="author" content="Venmond">
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
      <script >
        window.matchMedia('(prefers-color-scheme:light)').addListener((e) => {
  e.matches // Determine wether query matched or unmatched
})

    </script>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <!-- <link rel="shortcut icon" href="<%=url+'/assets/img/ico/favicon.png'%>"> -->
      <link rel="icon" media="(prefers-color-scheme:dark)" href="<%= url+'/assets/img/ico/favicon_green.png' %>" type="image/png" />
  <link rel="icon" media="(prefers-color-scheme:light)" href="<%= url+'/assets/img/ico/favicon.png' %>" type="image/png" />
    
  
    <!-- CSS -->
       
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="<%=url+'/assets/css/bootstrap.min.css'%>" rel="stylesheet" type="text/css">
    <link href="<%=url+'/assets/css/font-awesome.min.css'%>" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="<%=url+'/assets/css/font-entypo.css'%>" rel="stylesheet" type="text/css">    

    <!-- Fonts CSS -->
    <link href="<%=url+'/assets/css/fonts.css'%>"  rel="stylesheet" type="text/css">
               
    <!-- Plugin CSS -->
    <link href="<%=url+'/assets/plugins/jquery-ui/jquery-ui.custom.min.css'%>" rel="stylesheet" type="text/css">    
    <link href="<%=url+'/assets/plugins/prettyPhoto-plugin/css/prettyPhoto.css'%>" rel="stylesheet" type="text/css">
    <link href="<%=url+'/assets/plugins/isotope/css/isotope.css'%>" rel="stylesheet" type="text/css">
    <link href="<%=url+'/assets/plugins/pnotify/css/jquery.pnotify.css'%>" media="screen" rel="stylesheet" type="text/css">    
	<link href="<%=url+'/assets/plugins/google-code-prettify/prettify.css'%>" rel="stylesheet" type="text/css"> 
   
         
    <link href="<%=url+'/assets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css'%>" rel="stylesheet" type="text/css">
    <link href="<%=url+'/assets/plugins/tagsInput/jquery.tagsinput.css'%>" rel="stylesheet" type="text/css">
    <link href="<%=url+'/assets/plugins/bootstrap-switch/bootstrap-switch.css'%>" rel="stylesheet" type="text/css">    
    <link href="<%=url+'/assets/plugins/daterangepicker/daterangepicker-bs3.css'%>" rel="stylesheet" type="text/css">    
    <link href="<%=url+'/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css'%>" rel="stylesheet" type="text/css">
    <link href="<%=url+'/assets/plugins/colorpicker/css/colorpicker.css'%>" rel="stylesheet" type="text/css">            

	<!-- Specific CSS -->
	    
     
    <!-- Theme CSS -->
    <link href="<%=url+'/assets/css/theme.min.css'%>" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="<%=url+'/assets/css/chrome.css'%>" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->    


        
    <!-- Responsive CSS -->
        	<link href="<%=url+'/assets/css/theme-responsive.min.css'%>" rel="stylesheet" type="text/css"> 

	  
 
 
    <!-- for specific page in style css -->
        
    <!-- for specific page responsive in style css -->
        
    
    <!-- Custom CSS -->
    <link href="<%=url+'/assets/custom/custom.css'%>" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="js/modernizr.js"></script> 
    <script type="text/javascript" src="js/mobile-detect.min.js"></script> 
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script> 
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>     
    <![endif]-->
    
    
</head>    

<body id="pages" class="full-layout no-nav-left no-nav-right  nav-top-fixed background-login     responsive remove-navbar login-layout   clearfix" data-active="pages "  data-smooth-scrolling="1">     
<div class="vd_body">
<!-- Header Start -->
<!-- Header Ends --> 
