
<%- include ../layout/header %> 
                        

    <!-- Middle Content Start -->
    
    <div class="vd_content-wrapper">
        <div class="vd_container">
          <div class="vd_content clearfix">
            <div class="vd_head-section clearfix">
              <div class="vd_panel-header">
                <ul class="breadcrumb">
                  <li><a href="index.php">Dashboard</a> </li>
                  <li class="active">User Detail</li>
                </ul>
   
              </div>
            </div>
            <!-- vd_head-section -->
            
            <div class="vd_title-section clearfix">
              <div class="vd_panel-header">
                <h1>User Detail</h1>
                <!-- <small class="subtitle">Default dashboard for multipurpose demonstration</small> -->
                <div class="vd_panel-menu  hidden-xs">
    <!-- menu --> 
  </div>
  
  
  
  <!-- vd_panel-menu --> 
              </div>
              <!-- vd_panel-header --> 
            </div>
            <!-- vd_title-section -->
            
  
            <!-- Begin AlertMgs -->
  
<%
var flash = getMessages();
if(flash.info){ %>

  
  <div class="alert alert-info"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="icon-cross"></i></button>
    <span class="vd_alert-icon"><i class="fa fa-info-circle vd_blue"></i></span>
    <strong>Info : </strong> <a href="#" class="alert-link"><%= flash.info %></a>
  </div>

<% }else if(flash.error){ %>

  <div class="alert alert-danger"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="icon-cross"></i></button>
    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span>
    <strong>Error :</strong> <a href="#" class="alert-link"><%= flash.error %></a> 
  </div>

<% }else if(flash.success){ %>

  <div class="alert alert-success"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="icon-cross"></i></button>
    <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span>
    <strong>Success : </strong>  
    <a href="#" class="alert-link"><%= flash.success %></a>. 
  </div>

<% } %>
<!-- Begin AlertMgs -->


  
  
  
  
  
  
  
  
  
  
  
  
            <!-- Begin Content -->
  
              <div class="vd_content-section clearfix">
              <div class="panel widget light-widget">
                <div class="panel-heading no-title"> </div>
                <div class="panel-body">
                  

                  <img src="<%= user.image_url %>" height="200" width="200" alt="No Loaded Image" height="500" width="500">
                  <h2 style="font-size:20px" >Id : <%= user.id %></h2>
                  <h2 style="font-size:20px" >Name : <%= user.fname %> <%= user.lname %></h2>
                  <h2 style="font-size:20px" >Email : <%= user.email %></h2>
                  <!-- <h2 style="font-size:20px" >Gender : <%= user.gender %></h2> -->
                  <h2 style="font-size:20px" >Phone : <%= user.phone %></h2>
                  <h2 style="font-size:20px" >Address : <%= user.full_address %></h2>
              
              <!--   
              <form action="<%= url+'admin/user/update' %>" method="POST">
                <input name="id" value="<%=user.id%>" type="hidden" />
                <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label col-sm-1">Status<span class="vd_red">*</span></label>
                        <div id="email-input-wrapper" class="controls col-sm-6">
                          <select name="status" id="StatusSelect" >
                            <option value="" >Select Status</option>
                            <option value="1" <% if(user.status && user.status=='1'){ %> selected <% } %> >Active</option>
                            <option value="0" <% if(user.status && user.status=='0'){ %> selected <% } %> >Deactive</option>
                          </select>
                        </div>
                        <button class="btn vd_bg-green vd_white" type="submit">Update</button>
                      </div>
                  </div>    
              </form>   
               -->




         
                </div>
              </div>
            </div>
  
          
  
            <!-- End Content -->
  
  
  
  
  
         
            
          </div>
          <!-- .vd_content --> 
        </div>
        <!-- .vd_container --> 
      </div>
      <!-- .vd_content-wrapper --> 
      
      <!-- Middle Content End --> 
      
    </div>
    <!-- .container --> 
  </div>
  <!-- .content -->
  
  
  
  
      
<%- include ../layout/footer %> 
                        
            