
<%- include ../layout/header %> 
                        

    <!-- Middle Content Start -->
    
    <div class="vd_content-wrapper">
        <div class="vd_container">
          <div class="vd_content clearfix">
            <div class="vd_head-section clearfix">
              <div class="vd_panel-header">
                <ul class="breadcrumb">
                  <li><a href="index.php">Dashboard</a> </li>
                  <li class="active">Listing Create</li>
                </ul>
   
              </div>
            </div>
            <!-- vd_head-section -->
            
            <div class="vd_title-section clearfix">
              <div class="vd_panel-header">
                <h1>Add Listing</h1>
                <!-- <small class="subtitle">Default dashboard for multipurpose demonstration</small> -->
                <div class="vd_panel-menu  hidden-xs">
    <!-- menu --> 
  </div>
  
  
  
  <!-- vd_panel-menu --> 
              </div>
              <!-- vd_panel-header --> 
            </div>
            <!-- vd_title-section -->
            
  
            <!-- Begin AlertMgs -->
  
<%
var flash = getMessages();
if(flash.info){ %>

  
  <div class="alert alert-info"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="icon-cross"></i></button>
    <span class="vd_alert-icon"><i class="fa fa-info-circle vd_blue"></i></span>
    <strong>Info : </strong> <a href="#" class="alert-link"><%= flash.info %></a>
  </div>

<% }else if(flash.error){ %>

  <div class="alert alert-danger"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="icon-cross"></i></button>
    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span>
    <strong>Error :</strong> <a href="#" class="alert-link"><%= flash.error %></a> 
  </div>

<% }else if(flash.success){ %>

  <div class="alert alert-success"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="icon-cross"></i></button>
    <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span>
    <strong>Success : </strong>  
    <a href="#" class="alert-link"><%= flash.success %></a>. 
  </div>

<% } %>
<!-- Begin AlertMgs -->


  
  
  
  
  
  
  
  
  
  
  
  
            <!-- Begin Content -->
  
              <div class="vd_content-section clearfix">
              <div class="panel widget light-widget">
                <div class="panel-heading no-title"> </div>
                <div class="panel-body">
                  <h2 class="mgbt-xs-20">Listing Create Form</h2>


                    



                  <form action="<%= url+'/admin/listing/store' %>" method="POST" enctype="multipart/form-data" class="form-horizontal"  role="form" id="register-form" novalidate="novalidate">
                    <div class="alert alert-danger vd_hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
                    <div class="alert alert-success vd_hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong>Well done!</strong>. </div>
                    
  



                      
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label col-sm-2">User <span class="vd_red">*</span></label>
                        <div id="user-input-wrapper" class="controls col-sm-6">
                          <% if(flash.user_err){ %> <small style="color:red;"><%= flash.user_err %></small>  <% } %>
                          <select name="user" id="UserSelect" >
                            <option value="" >Select User</option>
                            <% users.forEach( row => { %>
                              <option <% if(flash.user && flash.user==row.id ){ %> selected="true" <% } %> value="<%=row.id%>" ><%=row.name%></option>
                            <% }); %> 
                          </select>
                        </div>
                      </div>
                    </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label  col-sm-2">Name <span class="vd_red">*</span></label>
                          <% if(flash.name_err){ %>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:red;"><%= flash.name_err %></small>  <% } %>
                          <div id="first-name-input-wrapper" class="controls col-sm-9">
                            <input name="name" value="<%if(flash.name){%><%=flash.name%><%}%>" type="text" placeholder="Category name" class="width-60 required"  id="NameInput" required="">
                          </div>
                        </div>
                      </div>  
    
    
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label  col-sm-2">Image <span class="vd_red">*</span></label>
                          <div id="first-name-input-wrapper" class="controls col-sm-9">
                            <% if(flash.image_err){ %><small style="color:red;"><%= flash.image_err %></small>  <% } %>
                            <input name="image" type="file" id="ImageInput" placeholder="John" class="width-60 required"   required="">
                          </div>
                        </div>
                      </div>   

                      
  
                    
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label  col-sm-2">Rent Rate <span class="vd_red">*</span></label>
                        <% if(flash.rent_rate_err){ %>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:red;"><%= flash.rent_rate_err %></small>  <% } %>
                        <div id="first-name-input-wrapper" class="controls col-sm-9">
                          <input name="rent_rate" value="<%if(flash.rent_rate){%><%=flash.rent_rate%><%}%>" type="text" placeholder="Rent Rate" class="width-60 required"  id="RentRateInput" required="">
                        </div>
                      </div>
                    </div>  

                    
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label col-sm-2">Rent Type<span class="vd_red">*</span></label>
                        <div id="email-input-wrapper" class="controls col-sm-6">
                          <% if(flash.rent_type_err){ %> <small style="color:red;"><%= flash.rent_type_err %></small>  <% } %>
                          <select name="rent_type" id="CategorySelect" >
                            <option value="" >Select Rent Type</option>
                            <% rent_types.forEach( row => { %>
                              <option <% if(flash.rent_type && flash.rent_type==row.id ){ %> selected="true" <% } %> value="<%=row.id%>" ><%=row.name%></option>
                            <% }); %> 
                          </select>
                        </div>
                      </div>
                    </div>
  

                    
                    <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label col-sm-2">Category<span class="vd_red">*</span></label>
                          <div id="category-input-wrapper" class="controls col-sm-6">
                            <% if(flash.category_err){ %> <small style="color:red;"><%= flash.category_err %></small>  <% } %>
                            <select name="category" id="CategorySelect" >
                              <option value="" >Select category</option>
                              <% categories.forEach( row => { %>
                                <optgroup label="<%=row.name%>">
                                  <% var ids=row.subcategory_ids.split(','); %> 
                                  <% var names=row.subcategory_names.split(','); %> 
                                  <% for(var i=0; i < ids.length; i++){ %>
                                    <option <% if(flash.category && flash.category==ids[i] ){ %> selected="true" <% } %>  value="<%=ids[i]%>"><%=names[i]%></option>
                                  <% } %>
                                </optgroup>
                              <% }); %> 
                            </select>
                          </div>
                        </div>
                      </div>
                    

                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label  col-sm-2">Description <span class="vd_red">*</span></label>
                        <div id="first-name-input-wrapper" class="controls col-sm-6">
                          <% if(flash.description_err){ %><small style="color:red;"><%= flash.description_err %></small>  <% } %>  
                          <textarea name="description" id="DescriptionTextarea"  placeholder="Content Text" rows="5" class="width-100 required"  ><%if(flash.description){%><%= flash.description%><%}%></textarea>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label  col-sm-2">Terms Usage <span class="vd_red">*</span></label>
                            <div id="first-name-input-wrapper" class="controls col-sm-6">
                            <% if(flash.terms_usage_err){ %><small style="color:red;"><%= flash.terms_usage_err %></small>  <% } %>  
                            <textarea name="terms_usage" id="TermsUsageTextarea"  placeholder="Terms Usage  Text" rows="5" class="width-100 required"  ><%if(flash.terms_usage){%><%= flash.terms_usage%><%}%></textarea>
                            </div>
                        </div>
                    </div>    
  
                    
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label col-sm-2">Featured<span class="vd_red">*</span></label>
                        <div id="email-input-wrapper" class="controls col-sm-6">
                          <% if(flash.featured_err){ %> <small style="color:red;"><%= flash.featured_err %></small>  <% } %>
                          <select name="featured" id="StatusSelect" >
                            <option value="" >Select Featured</option>
                            <option <% if(flash.status && flash.status=='0'){ %> selected="true" <% } %> value="0" >No</option>
                            <option <% if(flash.status && flash.status=='1'){ %> selected="true" <% } %> value="1" >Yes</option>
                          </select>
                        </div>
                      </div>
                    </div>
  



  
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label col-sm-2">Status<span class="vd_red">*</span></label>
                        <div id="email-input-wrapper" class="controls col-sm-6">
                          <% if(flash.status_err){ %> <small style="color:red;"><%= flash.status_err %></small>  <% } %>
                          <select name="status" id="StatusSelect" >
                            <option value="" >Select Status</option>
                            <option <% if(flash.status && flash.status=='1'){ %> selected="true" <% } %> value="1" >Active</option>
                            <option <% if(flash.status && flash.status=='0'){ %> selected="true" <% } %> value="0" >Deactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
  
  
  
  
                    <div id="vd_login-error" class="alert alert-danger hidden"><i class="fa fa-exclamation-circle fa-fw"></i> Please fill the necessary field </div>
                    <div class="form-group">
                      <div class="col-sm-2"></div>
                      
                      
                      <div class="col-md-6 mgbt-xs-10 mgtp-20">
                        
  
                        <div class="mgtp-10">
                          <button class="btn vd_bg-green vd_white" type="submit" id="submit-register" name="submit-register">Store</button>
                        </div>
                      </div> 
  
  
                      <div class="col-md-12 mgbt-xs-5"> </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
  
          
  
            <!-- End Content -->
  
  
  
  
  
         
            
          </div>
          <!-- .vd_content --> 
        </div>
        <!-- .vd_container --> 
      </div>
      <!-- .vd_content-wrapper --> 
      
      <!-- Middle Content End --> 
      
    </div>
    <!-- .container --> 
  </div>
  <!-- .content -->
  
  
  
  
      
<%- include ../layout/footer %> 
                        
            