

<!-- Footer Start -->
<footer class="footer-1"  id="footer">      
        <div class="vd_bottom ">
            <div class="container">
                <div class="row">
                  <div class=" col-xs-12">
                    <div class="copyright">
                          <!-- Copyright &copy;2014 Venmond Inc. All Rights Reserved  -->
                    </div>
                  </div>
                </div><!-- row -->
            </div><!-- container -->
        </div>
</footer>
<!-- Footer END -->
    
    
    </div>
    
    <!-- .vd_body END  -->
    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
    
    <!--
    <a class="back-top" href="#" id="back-top"> <i class="icon-chevron-up icon-white"> </i> </a> -->
    
    <!-- Javascript =============================================== --> 

    <!-- WebPush -->
    <script src="/client.js"></script>
    <!-- <script src="<%= url+'/assets/webpush/client.js' %>"></script>  -->
    <!-- WebPush -->
  

    <!-- Placed at the end of the document so the pages load faster --> 
    <script type="text/javascript" src="<%= url+'/assets/js/jquery.js' %>"></script> 
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/excanvas.js"></script>      
    <![endif]-->
    <script type="text/javascript" src="<%= url+'/assets/js/bootstrap.min.js' %>"></script> 
    <script type="text/javascript" src="<%= url+'/assets/plugins/jquery-ui/jquery-ui.custom.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %>"></script>
    
    <script type="text/javascript" src="<%= url+'/assets/js/caroufredsel.js' %>"></script> 
    <script type="text/javascript" src="<%= url+'/assets/js/plugins.js' %>"></script>
    
    <script type="text/javascript" src="<%= url+'/assets/plugins/breakpoints/breakpoints.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/dataTables/jquery.dataTables.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js' %>"></script> 
    
    <script type="text/javascript" src="<%= url+'/assets/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/tagsInput/jquery.tagsinput.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/bootstrap-switch/bootstrap-switch.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/blockUI/jquery.blockUI.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/pnotify/js/jquery.pnotify.min.js' %>"></script>
    
    <script type="text/javascript" src="<%= url+'/assets/js/theme.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/custom/custom.js' %>"></script>
     
    <!-- Specific Page Scripts Put Here -->
    <!-- Flot Chart  -->
    <script type="text/javascript" src="<%= url+'/assets/plugins/flot/jquery.flot.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/flot/jquery.flot.resize.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/flot/jquery.flot.pie.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/flot/jquery.flot.categories.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/flot/jquery.flot.time.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/flot/jquery.flot.animator.min.js' %>"></script>
    
    <!-- Vector Map -->
    <script type="text/javascript" src="<%= url+'/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %>"></script>
    
    <!-- Calendar -->
    <script type="text/javascript" src="<%= url+'/assets/plugins/moment/moment.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/jquery-ui/jquery-ui.custom.min.js' %>"></script>
    <script type="text/javascript" src="<%= url+'/assets/plugins/fullcalendar/fullcalendar.min.js' %>"></script>
    
    <!-- Intro JS (Tour) -->
    <script type="text/javascript" src="<%= url+'/assets/plugins/introjs/js/intro.min.js' %>" ></script>
    
    <!-- Sky Icons -->
    <script type="text/javascript" src="<%= url+'/assets/plugins/skycons/skycons.js' %>"></script>
    
    
    <script type="text/javascript">
    $(window).load(function () 
    {
    
            
            
    
    
    });
    </script>
    </body>
    </html>